name: Build & Draw
on:
  workflow_dispatch:
  push:
    paths:
      - "boards/*"
      - "config/*"

permissions:
  contents: write  # Necessary for the 'draw' job to save the image to your repo

jobs:
  # JOB 1: Build Firmware
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main

  # JOB 2: Draw Keymap (SVG)
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/*.keymap"
      config_path: "config/keymap_drawer.config.yaml"
      output_folder: "img"
      commit_message: "Draw keymap graphic [skip ci]"